<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>4.3.1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>containsObject:方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>indexOfObject:方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>objectAtIndex:方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>创建数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>数组的复制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0F29B081E8A368300F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29B161E8A369000F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29B211E8A36BB00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29B2C1E8A36D800F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29B371E8A370900F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29B421E8A371C00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29B4D1E8A372E00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
